header{
	width: 100%;
	text-align: center;
}

body{
	background-color: black;
	background-image: opacity;
	color: white;
	font-size: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  background-color: #343780;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #807d34;
}
.flex-container {
  display: flex;
  justify-content: space-around;
 }

